p {
  font-family: 'Open Sans';
}
header {
  font-family: 'Raleway';
  font-weight: 400;
}
.navbar {
  height: 175px;
  font-family: 'Raleway';
}
.nav {
  justify-content: flex-end;
}
.navbar .nav-link {
  padding: 0.5em 3.5em;
  color: black;
  font-size: large;
}
.hero {
  padding-top: 60px;
  padding-bottom: 100px;
}
.hero-content {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-content .heading {
  font-size: xx-large;
}
.hero-content .paragraph {
  font-size: large;
}
.hero-content .heading,
.paragraph {
  margin-bottom: 25px;
}

.get-started-input {
  width: 60%;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid;
}
.get-started-button {
  border-radius: 3px;
  background-color: hsl(224, 93%, 58%);
  color: white;
  border: hidden;
  width: 30%;
  margin-left: 10px;
  padding: 11px;
  font-weight: 400;
}
.hero .hero-img {
  height: 100%;
  display: flex;
  align-items: center;
}
.bg-curve-img {
  width: 100%;
}
.curve-img-mob {
  display: none;
}
.blog {
  background-color: hsl(240, 75%, 98%);
}
.blog .heading {
  margin-bottom: 30px;
}
.blog .paragraph {
  width: 65%;
}
.blog .how-works {
  color: hsl(170, 45%, 43%);
  text-decoration: underline;
  cursor: pointer;
  font-size: larger;
  margin-bottom: 40px;
}
.blog .how-works:hover {
  filter: contrast(3.5);
}
.blog .how-works img {
  height: 20px;
}
.blog .blog-card {
  width: 60%;
  background: white;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 80px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.blog .blog-img {
  height: 100%;
  display: flex;
  align-items: center;
}
.blog .blog-card img {
  margin-bottom: 10px;
}
.blog .blog-card .publisher {
  display: flex;
  align-items: center;
}
.blog .blog-card .publisher img {
  border-radius: 50%;
  height: 50px;
  margin-right: 10px;
}
.blog .blog-card .publisher .user-details h6,
.blog .blog-card .publisher .user-details p {
  margin-bottom: 0;
}
.subscription {
  background-color: hsl(238, 22%, 44%);
  padding-top: 50px;
  padding-bottom: 50px;
}
.subscription .subscription-content {
  width: 75%;
  color: white;
}
.subscription .subscription-content h2 {
  margin-bottom: 25px;
}
.subscription .subscription-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscription .subscription-form .subscription-form-input {
  width: 100%;
  margin-bottom: 25px;
  border-radius: 3px;
  border-style: none;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.subscription .subscription-form .subscription-form-button {
  background-color: hsl(224, 93%, 58%);
  color: white;
  width: 50%;
  border-radius: 3px;
  padding: 10px;
  border-style: hidden;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
footer .top {
  background-color: hsl(243, 87%, 12%);
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer .top .brand-logo {
  margin-bottom: 20px;
}
footer .top .brand-logo img {
  filter: brightness(0) invert(1);
}
footer .top .contact-links ul {
  list-style: none;
  padding-left: 0rem;
}
footer .top .contact-links li {
  margin-bottom: 20px;
}
footer .top .contact-links img {
  margin-right: 10px;
}
footer .top .contact-links .list,
footer .top .links-1 .list,
footer .top .links-2 .list {
  padding-left: 0rem;
}
footer .top .links-1 .list,
footer .top .links-2 .list {
  list-style: none;
  width: fit-content;
  margin: 0 auto;
}
footer .top .links-1 .list li,
footer .top .links-2 .list li {
  margin-bottom: 20px;
  cursor: pointer;
}
footer .top .links-1 .list li:hover,
footer .top .links-2 .list li:hover,
footer .top .social-links i:hover {
  color: hsl(224, 93%, 58%);
  border-color: hsl(224, 93%, 58%);
}
footer .top .social-links {
  display: flex;
  justify-content: center;
  color: white;
}
footer .top .social-links i {
  border: 1px solid white;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

footer .bottom .attribution {
  font-size: 11px;
  text-align: center;
}
footer .bottom .attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 1199px) {
  .hero .hero-content {
    width: 85%;
  }
}
@media screen and (max-width: 991px) {
  header .navbar .nav-link {
    padding: 0.5em 2.5em;
  }
  .hero .hero-content {
    width: 100%;
  }
  .hero .hero-content .get-started form {
    display: flex;
    flex-direction: column;
  }
  .hero .hero-content .get-started .get-started-input {
    width: auto;
  }
  .hero .hero-content .get-started .get-started-button {
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
  }
  .blog .paragraph {
    width: 100%;
  }
  .blog .blog-card {
    width: 100%;
  }
  .subscription .subscription-content {
    width: 80%;
  }
  footer .top .contact-links li {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  header .navbar .nav-link {
    padding: 0.5em 1.5em;
  }
  .hero .hero-content {
    text-align: center;
  }
  .hero .hero-img,
  .blog .blog-img {
    padding-bottom: 40px;
  }
  .blog .how-works {
    text-align: center;
  }
  .subscription .subscription-content {
    width: 100%;
    text-align: center;
  }
  .subscription .subscription-form .subscription-form-button {
    width: 100%;
  }
  footer .top {
    height: 100%;
  }
  footer .top .contact-links li {
    flex-direction: initial;
  }
  footer .top .contact-links .list,
  footer .top .links-1 .list,
  footer .top .links-2 .list {
    margin: 0;
  }
}
@media screen and (max-width: 575px) {
  header .navbar .nav-link {
    padding: 0.5em 0.5em;
  }
  .curve-img {
    display: none;
  }
  .curve-img-mob {
    display: block;
  }
  .bg-curve-img-mob {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  header .navbar .nav-link {
    display: flex;
    justify-content: space-between;
  }
  header .navbar-brand {
    width: 100%;
    text-align: center;
  }
  header .nav {
    width: 100%;
    justify-content: space-between;
  }
}
